body {
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    /* scale: 2; */
    background-color: #34393f ;
}

main {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100px;
    overflow-x: hidden;
}

.container {
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 10px;
    height: 950px;
    background-color: #34393f;
    background-image: url('./img/Sin\ título.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#agregar-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    width: 340px;
    height: 390px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#productos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0px solid black;
    width: 340px;
    height: 390px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid black;
    height: 300px;
    width: 270px;
}

label {
    display: flex;
    justify-content: space-between;
}

#primer-producto {
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px;
    width: 330px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#producto {
    margin: 10px;
    border: 0px solid black;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    width: 80%;
    margin-left: 30%;
}

.input {
    border-radius: 15px;
}

h1 {
    text-align: center;
}

.name {
    margin-top: 10px;
    margin-bottom: 10px;
}

#structure {
    color: white;
}

#textarea {
    resize: none;
}

a:hover {
    transform: scale(1.05);
}

a {
    transition: all 0.1s;
}

form label {
    font-size: 2rem;
    text-align: center;

}

form label.txt {
    text-align: end;
}

.input {
    margin-left: 80px ;
}

/* .txt {
    width: 300%;
    margin-left: 20%;
} */
#compraventa {
    width: 300px;
}

#fecha {
    width: 300px;
}
#cont {
    height: 800px;
}