body {
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    /* scale: 2; */
}

main {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100px;
    overflow-x: hidden;
}

.container {
    display: flexbox;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    height: 800px;
    background-color: #333333;
    text-align: center;
}
 .btn-primary {
    margin-left: 63px;
 }

#agregar-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    width: 340px;
    height: 390px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#productos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0px solid black;
    width: 340px;
    height: 390px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid black;
    height: 300px;
    width: 270px;
}

label {
    display: flex;
    justify-content: space-between;
}

#primer-producto {
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px;
    width: 330px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#producto {
    margin: 10px;
    border: 0px solid black;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    width: 60%;
    margin-left: 125%;
}

.input {
    border-radius: 15px;
}
h1 {
    text-align: center;
}
.name {
    margin-top: 10px;
    margin-bottom: 10px;
}
#structure {
    color: white;
}
#textarea {
    resize: none;
}
a:hover {
    transform: scale(1.05);
}
a {
    transition: all 0.1s;
}

form label {
    font-size: 2rem;
}
.input {
    width: 1000px;
}
